p img{
    padding-top: 400px;
    position: relative;
    }
    footer{
        
        font-size: 80px;
        color: green;
    }
    h4{
        color: blueviolet;
        padding-left: 200px;
        font-size: 60px;
    }
    span{
        padding-left: 560px;
    }
    